In [13]:
name=['Aarthan','Vijay','Rio','Aishwarya','Gayathri']
print(name)

['Aarthan', 'Vijay', 'Rio', 'Aishwarya', 'Gayathri']

In [14]:
position=['Trainee','SDE1','SDE2','CTO','CEO']
salary=[24000,30000,52000,60000,80000]
emp_id=[100,101,102,103,104]
print(position)
print(salary)
print(emp_id)

['Trainee', 'SDE1', 'SDE2', 'CTO', 'CEO']
[24000, 30000, 52000, 60000, 80000]
[100, 101, 102, 103, 104]

In [15]:
print(position[2])

SDE2

In [17]:
bonus=[0,0,0,0,0]
gross=[0,0,0,0,0]
net=[0,0,0,0,0]

In [19]:
i=100
for i in range(5):
    if(salary[i]<24000):
        bonus[i]=(salary[i]*10.5)/100
    elif(salary[i]>25000 & salary[i]<50000):
        bonus[i]=(salary[i]*11.5)/100
    elif(salary[i]>55000):
        bonus[i]=(salary[i]*12.5)/100

In [20]:
print(bonus)

[2760.0, 3450.0, 5980.0, 6900.0, 9200.0]

In [22]:
i=100
for i in range(5):
    gross[i]=salary[i]+bonus[i]

print(gross)

[26760.0, 33450.0, 57980.0, 66900.0, 89200.0]

In [24]:
tax=[0,0,0,0,0]
benefit=[0,0,0,0,0]

In [31]:
deduct=[0,0,0,0,0]

In [30]:
i=100
for i in range(5):
    tax[i]=(gross[i]*15.5)/100
    benefit[i]=(gross[i]*6.5)/100
    
print(tax)
print(benefit)

[4147.8, 5184.75, 8986.9, 10369.5, 13826.0]
[1739.4, 2174.25, 3768.7, 4348.5, 5798.0]

In [32]:
print(deduct)

[0, 0, 0, 0, 0]

In [33]:
for i in range(5):
    deduct[i]=tax[i]+benefit[i]

print(deduct)

[5887.200000000001, 7359.0, 12755.599999999999, 14718.0, 19624.0]

In [34]:
net=[0,0,0,0,0]

In [35]:
for i in range(5):
    net[i]=gross[i]-deduct[i]

print(net)

[20872.8, 26091.0, 45224.4, 52182.0, 69576.0]

In [36]:
company='Google'
dop='2023-10-1'

In [43]:
for i in range(5):
    print("Company Name:",company)
    print("Date of Pay Stub:",dop)
    print("Employee:",name[i])
    print("Position:",position[i])
    print("Salary:$",salary[i])
    print("Bonus:$",bonus[i])
    print("Gross Annual Income:$",gross[i])
    print("Total Deductibles:$",deduct[i])
    print("Deductibles(Taxes):$",tax[i])
    print("Deductibles(Benefits):$",benefit[i])
    print("Net Annual Income:$",net[i])
    print("\n\n")

Company Name: Google
Date of Pay Stub: 2023-10-1
Employee: Aarthan
Position: Trainee
Salary:$ 24000
Bonus:$ 2760.0
Gross Annual Income:$ 26760.0
Total Deductibles:$ 5887.200000000001
Deductibles(Taxes):$ 4147.8
Deductibles(Benefits):$ 1739.4
Net Annual Income:$ 20872.8



Company Name: Google
Date of Pay Stub: 2023-10-1
Employee: Vijay
Position: SDE1
Salary:$ 30000
Bonus:$ 3450.0
Gross Annual Income:$ 33450.0
Total Deductibles:$ 7359.0
Deductibles(Taxes):$ 5184.75
Deductibles(Benefits):$ 2174.25
Net Annual Income:$ 26091.0



Company Name: Google
Date of Pay Stub: 2023-10-1
Employee: Rio
Position: SDE2
Salary:$ 52000
Bonus:$ 5980.0
Gross Annual Income:$ 57980.0
Total Deductibles:$ 12755.599999999999
Deductibles(Taxes):$ 8986.9
Deductibles(Benefits):$ 3768.7
Net Annual Income:$ 45224.4



Company Name: Google
Date of Pay Stub: 2023-10-1
Employee: Aishwarya
Position: CTO
Salary:$ 60000
Bonus:$ 6900.0
Gross Annual Income:$ 66900.0
Total Deductibles:$ 14718.0
Deductibles(Taxes):$ 10369.5
Deductibles(Benefits):$ 4348.5
Net Annual Income:$ 52182.0



Company Name: Google
Date of Pay Stub: 2023-10-1
Employee: Gayathri
Position: CEO
Salary:$ 80000
Bonus:$ 9200.0
Gross Annual Income:$ 89200.0
Total Deductibles:$ 19624.0
Deductibles(Taxes):$ 13826.0
Deductibles(Benefits):$ 5798.0
Net Annual Income:$ 69576.0